/* navigation  */

html {
    -webkit-text-size-adjust: 100%;
}

#navbar {
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: scroll;
}

#navbar ul li a {
    font-size: 0.5rem;
    padding: 0px 5px
}


/* Home Section */

#home {
    height: 35rem;
    padding: 2px 3px;
}

#home::before {
    height: 43rem;
}


/* Service Section */

#services {
    flex-direction: column;
    flex-wrap: wrap;
}

#services .box {
    padding: 10px;
    margin: 2px auto;
    border-radius: 20px;
    border: 2px solid #139275;
    width: 100%;
    margin-bottom: 20px;
}

#services .box .service-image {
    align-content: center;
    width: auto;
    height: 6rem;
    padding: 5px;
}


/* Client-Section */

#client-section {
    position: relative;
    height: auto;
}

#client-section h1 {
    font-size: xx-small;
}

#client-section::before {
    width: 100%;
    height: 100%;
}

#clients {
    flex-wrap: wrap;
}

.client-image {
    height: auto;
    width: 60px;
    padding: 0px 0px;
}


/* Contact Section */

#contact {
    align-items: center;
    height: 40rem;
    width: auto;
}

#contact::before {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

#contact-box {
    padding-bottom: 34px;
}

#contact-box form {
    align-content: center;
}

#contact-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.3rem;
}


/* Footer */


/* utility classes */

.h-primary {
    font-size: 38px;
}

.h-secondary {
    font-size: 28px;
    padding: 10px;
}

.p-primary {
    font-size: 18px;
}

.btn {
    font-size: 15px;
    padding: 5px 10px;
}