/* Font Styles */


/* font-family: 'Lobster Two', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Libre Franklin', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400&display=swap');

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}


/* CSS Variables */

:root {
    --navbar-height: 59px;
}


/* Navigation  Bar */

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: rgb(6, 143, 68);
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0px;
    left: 0px;
}


/*  Navigation  Bar:list items */

#navbar ul {
    display: flex;
    font-family: 'Libre Franklin', sans-serif;
    padding-bottom: 10px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    margin: 5px 5px;
}

#navbar ul li a {
    display: block;
    color: white;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(150, 16, 16);
    background-color: white;
    cursor: pointer;
}


/*  Navigation  Bar:logo and image */

#logo {
    margin: 10px 40px;
    display: flex;
}

#logo img {
    margin: 3px 5px;
    height: 70px;
    width: 70px;
}

#logo img:hover {
    image-rendering: pixelated;
}


/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 457px;
}

#home p {
    text-align: center;
}

#home h1 {
    text-align: center;
}

#home::before {
    content: "";
    background: url(/img/prawns2.png) no-repeat center center/cover;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    height: 36em;
    width: 100%;
    opacity: 0.89;
    top: 0px;
    left: 0px;
}


/* Services Section*/

.service-container {
    margin-top: 8px;
    padding: 2px 2px;
    box-sizing: border-box;
}

#services {
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 100%;
    left: 0px;
}

#services .box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2px 30px;
    border-radius: 20px;
    border: 2px solid #139275;
    width: auto;
    background-color: #259863;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#services .service-image {
    display: flex;
    margin: auto;
    height: 150px;
    width: auto;
    border-radius: 68px;
}

#services .box p {
    font-family: 'Libre Franklin', sans-serif;
}


/* Client Section */

#client-section {
    height: 344px;
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url(/img/coffee2b.png) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 5px;
}

.client-image {
    height: 124px;
    width: 136px;
    margin: 10px;
}


/* -----------Contact Section-------------- */

#contact {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 40rem;
    width: auto;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(/img/contact1.jpg) no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.3rem;
}

#contact-box input:hover,
#contact-box textarea:hover {
    background-color: #76e2c9;
    color: white;
    cursor: text;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.1rem;
}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}


/* Utility classes */

.h-primary {
    display: flex;
    justify-content: center;
    font-size: 3.8rem;
    padding: 20px;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    margin-top: 0px;
    color: white;
}

.h-secondary {
    font-size: 2.3rem;
    padding: 19px;
    font-family: 'Lobster Two', cursive;
}

.p-primary {
    font-size: 1.5rem;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 23px;
    cursor: pointer;
}

.center {
    text-align: center;
}